
<h1>Success!</h1>

<p><em>
  <hr>
  (Sort of, we didn't actually send an email)
  <hr>
</em></p>
<p>
  An email was sent to <%= name %> at <%= email %>
</p>
<p>
  Their phone number is <%= phoneNumber %>
</p>
<p>
  Their message:
  <%= message %>
</p>
<p>
  <code>/*<br>todo:<br> Render phone + message,<br> styling<br>*/</code>
</p>
