<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <main>
      <form action='/complete' method='post'>
      <fieldset>
        <legend>Email Submission (fake)</legend>
        <label for='name'>Enter name: </label>
        <input id='name-input' type='text' name='name' placeholder='Enter your name' value='' required />
        <br>
        <label for='email'>Enter email: </label>
        <input id='email-input' type='email' name='email' placeholder='you@somewhere.outthere' value='' required />
        <br>
        <label for="phone">Enter Phone:</label>
        <input type="phone" id='phone-input' required placeholder='555-555-5555' value='' name='phoneNumber'>

        <br>
        <label for='message'>Enter your message here:</label>
        <br>
        <textarea name="message" cols="30" rows="10"></textarea>

        <input type='submit' value='Send Email' />
      </fieldset>
      </form>
      <code>/* <br>todo:<br> Create 'phone' input,<br> textarea for 'message',<br> styling<br> */</code>

    </main>
  </body>
</html>
